n8n/malware-defense-playbook.json
{
  "name": "Playbook: File Integrity & Malware Defense",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/files/{{ $json.body.syscheck.sha256_after }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "{{VIRUSTOTAL_API_KEY_PLACEHOLDER}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-400, -112],
      "id": "00ca22b4-7ecc-4cee-92b0-6e9884debca9",
      "name": "Enrich Hash: VirusTotal API",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Raw Wazuh FIM Alert:\n{{ JSON.stringify($node[\"Ingest Payload from Master Router\"].json.body) }}\n\nVirusTotal Threat Intel:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are an elite SOC Malware Analyst. Analyze the Wazuh FIM alert and VirusTotal threat intelligence."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [144, -288],
      "id": "c209fdee-b052-4bb9-b7e8-03dae1fd809f",
      "name": "AI: Draft Tactical Alert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [160, -112],
      "id": "4909c8ba-6cdf-4067-93b4-6118b5d32ac5",
      "name": "Gemini LLM 1",
      "credentials": {
        "googlePalmApi": {
          "id": "{{GEMINI_CRED_ID}}",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Raw Wazuh FIM Alert:\n{{ JSON.stringify($node[\"Ingest Payload from Master Router\"].json.body) }}\n\nVirusTotal Threat Intel:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a Senior SOC Reporting Analyst. Draft an Executive Incident Report for the IT Director."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [240, 16],
      "id": "18282400-3f9c-472a-a28a-32bdedb6886f",
      "name": "AI: Draft Exec Report"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [160, 176],
      "id": "b42332da-9c05-4fb8-af7a-ee07355c775b",
      "name": "Gemini LLM 2",
      "credentials": {
        "googlePalmApi": {
          "id": "{{GEMINI_CRED_ID}}",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-800, -112],
      "id": "81bf9056-e301-4776-b34f-8a5ea77b3899",
      "name": "Ingest Payload from Master Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d17d71b-62bf-4573-bd71-d403c0465126",
              "leftValue": "={{ $node[\"Enrich Hash: VirusTotal API\"].json?.data?.attributes?.last_analysis_stats?.malicious || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-176, -128],
      "id": "0f0cffff-bedf-4cbe-a456-824d7bd85919",
      "name": "Evaluate Threat Score (> 0)"
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "create",
        "title": "=🚨 SOC Incident: Malware Detected",
        "description": "## Incident Overview\nMalicious file detected via Wazuh FIM and VirusTotal.",
        "severity": 3,
        "startDate": "={{ $now }}",
        "owner": "{{THEHIVE_USER_PLACEHOLDER}}",
        "tags": "=malware, syscheck",
        "options": {}
      },
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [176, -576],
      "id": "d24f095c-03a2-4c95-b6ce-26d595628251",
      "name": "Generate TheHive Incident",
      "credentials": {
        "theHiveApi": {
          "id": "{{THEHIVE_CRED_ID}}",
          "name": "The Hive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "observable",
        "operation": "create",
        "caseId": "={{ $node[\"Generate TheHive Incident\"].json[\"id\"] }}",
        "dataType": "hash",
        "data": "={{ $('Ingest Payload from Master Router').item.json.body.syscheck.sha256_after }}",
        "message": "Malicious file hash identified by VirusTotal.",
        "startDate": "={{ $now }}",
        "status": "Ok",
        "options": {}
      },
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [560, -576],
      "id": "817797d9-e45b-4bce-b023-dd931fc7b54c",
      "name": "Attach Hash Observable",
      "credentials": {
        "theHiveApi": {
          "id": "{{THEHIVE_CRED_ID}}",
          "name": "The Hive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "create",
        "title": "=📋 SOC Audit: New File Detected (Clean/Unknown)",
        "description": "## Audit Request\nA new file was detected but currently has 0 malicious indicators.",
        "severity": 1,
        "startDate": "={{ $now }}",
        "owner": "{{THEHIVE_USER_PLACEHOLDER}}",
        "tags": "=audit, syscheck",
        "options": {}
      },
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [-96, 160],
      "id": "aca72f2d-8a37-48a3-ab0f-7a2ce6c95ab5",
      "name": "Log TheHive Audit Case",
      "credentials": {
        "theHiveApi": {
          "id": "{{THEHIVE_CRED_ID}}",
          "name": "The Hive account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "{{SLACK_CHANNEL_ID}}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [560, -288],
      "id": "62737cf9-c239-4894-9fb8-d737a7773ee2",
      "name": "Dispatch Slack Alert",
      "webhookId": "{{SLACK_WEBHOOK_ID}}",
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CRED_ID}}",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "{{SENDER_EMAIL_PLACEHOLDER}}",
        "toEmail": "{{RECIPIENT_EMAIL_PLACEHOLDER}}",
        "subject": "URGENT: Malware Detected by Wazuh",
        "html": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [560, 16],
      "id": "40aebe9a-8996-426b-9ca6-42ecdd4ecf0c",
      "name": "Dispatch Executive Brief",
      "webhookId": "{{EMAIL_WEBHOOK_ID}}",
      "credentials": {
        "smtp": {
          "id": "{{SMTP_CRED_ID}}",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Enrich Hash: VirusTotal API": { "main": [[{ "node": "Evaluate Threat Score (> 0)", "type": "main", "index": 0 }]] },
    "AI: Draft Tactical Alert": { "main": [[{ "node": "Dispatch Slack Alert", "type": "main", "index": 0 }]] },
    "Gemini LLM 1": { "ai_languageModel": [[{ "node": "AI: Draft Tactical Alert", "type": "ai_languageModel", "index": 0 }]] },
    "AI: Draft Exec Report": { "main": [[{ "node": "Dispatch Executive Brief", "type": "main", "index": 0 }]] },
    "Gemini LLM 2": { "ai_languageModel": [[{ "node": "AI: Draft Exec Report", "type": "ai_languageModel", "index": 0 }]] },
    "Ingest Payload from Master Router": { "main": [[{ "node": "Enrich Hash: VirusTotal API", "type": "main", "index": 0 }]] },
    "Evaluate Threat Score (> 0)": { "main": [[{ "node": "Generate TheHive Incident", "type": "main", "index": 0 }, { "node": "AI: Draft Tactical Alert", "type": "main", "index": 0 }, { "node": "AI: Draft Exec Report", "type": "main", "index": 0 }], [{ "node": "Log TheHive Audit Case", "type": "main", "index": 0 }]] },
    "Generate TheHive Incident": { "main": [[{ "node": "Attach Hash Observable", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "id": "TFIoAkCFsWZN0KWH",
  "tags": []
}
