n8n/master-alert-dispatcher.json
{
  "name": "SOAR: Master Alert Dispatcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{WEBHOOK_PATH_PLACEHOLDER}}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        176
      ],
      "id": "746d35eb-7bbb-4c95-94f7-614003090221",
      "name": "Ingest Wazuh Telemetry",
      "webhookId": "{{WEBHOOK_ID_PLACEHOLDER}}"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.rule.groups }}",
                    "rightValue": "authentication_failed",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "117bbec9-05ba-4265-ac50-caa8524ed60d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auth"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd9abb0c-c1da-4aad-aeb4-b4203f8d0cb2",
                    "leftValue": "={{ $json.body.rule.groups }}",
                    "rightValue": "syscheck",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Malware"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ad639554-18ae-4210-be18-996d102bf127",
                    "leftValue": "={{ $json.body.rule.groups }}",
                    "rightValue": "web",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -480,
        160
      ],
      "id": "ab1b04c8-3466-4d73-ba6a-9bda85394e8d",
      "name": "Triage & Route by Threat Category"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SHD3f2sGUbRFownd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -208,
        -48
      ],
      "id": "e94c0b19-a414-4ca3-9502-3bb5d0f0b476",
      "name": "Execute Auth Defense Playbook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TFIoAkCFsWZN0KWH",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -208,
        176
      ],
      "id": "87f1ef36-8fa6-4bfa-9f99-9da46199bb6a",
      "name": "Execute Malware Defense Playbook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lkYrDAdrivpyVYU0",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        400
      ],
      "id": "20a4381d-d2b4-45cb-a9e3-c0598dffd26b",
      "name": "Execute Web Defense Playbook"
    }
  ],
  "pinData": {},
  "connections": {
    "Ingest Wazuh Telemetry": {
      "main": [
        [
          {
            "node": "Triage & Route by Threat Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage & Route by Threat Category": {
      "main": [
        [
          {
            "node": "Execute Auth Defense Playbook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Malware Defense Playbook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Web Defense Playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "75de34c4-50ba-459e-8070-e44c8ce8739a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "uZwMWUAeC4McczvZ",
  "tags": []
}
